# Ignore the Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore local configuration files
*.env
*.local

# Ignore version control directories
.git
.gitignore
.vscode
.idea

# Ignore the virtual environment directory
venv/
env/

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Ignore test directories and files
tests/
test/

# Ignore temporary and log files
*.log
*.bak
*.swp

# Ignore build directories
build/
dist/
*.egg-info
